
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Areas/admin/Views/Shared/_LayoutGiohang.cshtml";
}

<h2>Đơn hàng của bạn đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao đúng hẹn</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","MovieStore")
</p>

