<footer class="footer-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-contaier widget-nav-menu">
                        <h1 class="title-widget">Giới thiệu</h1>
                        <ul>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Về chúng tôi
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Thỏa thuận sử dụng
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Quy chế hoạt động
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Chính sách bảo mật
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-contaier widget-nav-menu">
                        <h1 class="title-widget">Góc điện ảnh</h1>
                        <ul>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Thể loại phim
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Bình luận phim
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Blog điện ảnh
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Phim hay tháng
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-contaier widget-nav-menu">
                        <h1 class="title-widget">Hỗ Trợ</h1>
                        <ul>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Góp ý
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Sale & Services
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Rạp/Giá vé
                                </a>
                            </li>
                            <li>
                                <a href="#3a">
                                    <i class="fa-solid fa-angles-right"></i>
                                    Tuyển dụng
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <ul class="list-unstyled clear-margins">
                    <li class="widget-contaier widget-nav-menu">
                        <h1 class="title-widget">Giới thiệu</h1>
                        <div class="social-icons">
                            <ul class="nomagrin">
                                <a target="_blank"
                                   href="https://www.facebook.com/galaxycinevn/">
                                    <i class="fa-brands fa-square-facebook"></i>
                                </a>
                                <a target="_blank"
                                   href="https://www.youtube.com/user/galaxymovies">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                                <a target="_blank"
                                   href="https://www.instagram.com/galaxycinema/">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="store">
                    <ul class="list-unstyled clear-margins">
                        <li class="widget-contaier widget-recent-new">
                            <h1 class="title-widget">Download app</h1>
                            <div class="social-icons">
                                <ul class="nomargin">
                                    <a target="_blank"
                                       href="https://apps.apple.com/vn/app/galaxy-cinema/id593312549?l=vi">
                                        <i class="fa-brands fa-apple store-icon"></i>
                                    </a>
                                    <a target="_blank"
                                       href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&hl=vi">
                                        <i class="fa-brands fa-google-play store-icon"></i>
                                    </a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: 1" class="container ano-trade">
        <div class="clear"></div>
        <div class="wrap-icon">
            <a href="http://online.gov.vn/Home/WebDetails/5005?AspxAutoDetectCookieSupport=1"
               target="_blank">
                <img src="~/assets/img/glx_trade.png"
                     alt=""
                     style="width: 150px; height: 100%"
                     class="loading" />
            </a>
        </div>
    </div>
</footer>
