<div id="main-section">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" />
            <input type="radio" name="radio-btn" id="radio2" />
            <input type="radio" name="radio-btn" id="radio3" />
            <input type="radio" name="radio-btn" id="radio4" />
            <div class="slide first">
                <img src="~/assets/img/background5.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/assets/img/background6.png" alt="" />
            </div>
            <div class="slide">
                <img src="~/assets/img/background8.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/assets/img/background2.jpg" alt="" />
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
    <div class="box-buy-ticket">
        <section ng-controller="quickBuyTicket" class="tabs">
            <div class="label-tab">Mua vé nhanh</div>
            <label for="tab-1" class="tab-label-1 active">Theo phim</label>
            <label for="tab-2" class="tab-label-2">Theo ngày</label>
            <label for="tab-3" class="tab-label-3">Theo rạp</label>
            <div class="clear"></div>
            <div id="id-block-ticket" class="content">
                <div id="content-1" class="buy-tab active">
                    <form class="">
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn phim</option>
                                    <option>Phim 1</option>
                                    <option>Phim 2</option>
                                    <option>Phim 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn rạp</option>
                                    <option>Rạp 1</option>
                                    <option>Rạp 2</option>
                                    <option>Rạp 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn ngày</option>
                                    <option>Ngày 1</option>
                                    <option>Ngày 2</option>
                                    <option>Ngày 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn suất</option>
                                    <option>Suất 1</option>
                                    <option>Suất 2</option>
                                    <option>Suất 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                    </form>
                </div>
                <div id="content-2" class="buy-tab">
                    <form class="">
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn ngày</option>
                                    <option>Ngày 1</option>
                                    <option>Ngày 2</option>
                                    <option>Ngày 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn rạp</option>
                                    <option>Rạp 1</option>
                                    <option>Rạp 2</option>
                                    <option>Rạp 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn phim</option>
                                    <option>Phim 1</option>
                                    <option>Phim 2</option>
                                    <option>Phim 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn suất</option>
                                    <option>Suất 1</option>
                                    <option>Suất 2</option>
                                    <option>Suất 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                    </form>
                </div>
                <div id="content-3" class="buy-tab">
                    <form class="">
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn rạp</option>
                                    <option>Rạp 1</option>
                                    <option>Rạp 2</option>
                                    <option>Rạp 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn phim</option>
                                    <option>Phim 1</option>
                                    <option>Phim 2</option>
                                    <option>Phim 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn ngày</option>
                                    <option>Ngày 1</option>
                                    <option>Ngày 2</option>
                                    <option>Ngày 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                        <galaxy-select class="">
                            <a href="#3a" class="btn btn-select btn-select-light">
                                <select name="" id="" class="movie-select">
                                    <option disabled selected>Chọn suất</option>
                                    <option>Suất 1</option>
                                    <option>Suất 2</option>
                                    <option>Suất 3</option>
                                </select>
                            </a>
                        </galaxy-select>
                    </form>
                </div>
            </div>
            <a href="#"
               id="loginBuyticket"
               class="btn primary fl-right btn-buyticket-box">mua vé</a>
        </section>
    </div>
</div>
